<template>
  <div class="wrapper">
    <div class="palette">
      <div class="colors">
        <div v-for="(color, idx) in colors" v-on:click="colorClicked($event.target)" :key="idx" class="color" v-bind:data-hex="color.codeHex" :style="{ backgroundColor: color.codeHex}"></div>
      </div>
      <div class="codes">
        <div class="colorModels">
          <div class="selected">HEX</div>
          <div>RGB</div>
          <div>HSL</div>
        </div>
        <div class="value">
          <input type="text" v-bind:value="selectedColor.value">
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

interface SelectedColorI {
    value: string | undefined;
    model: string;
  }

@Component
export default class Pallete extends Vue {
  @Prop() private name!: string;
  @Prop() private colors!: Array<object>;

  
  selectedColor: SelectedColorI = {
      value: undefined,
      model: 'hex'
  };

  colorClicked(el: HTMLElement) {
      this.selectedColor.value = el.dataset.hex;
  }

  rgbClicked(el: HTMLElement) {
      const input: any = el?.parentElement?.parentElement?.parentElement?.querySelector("input");
      const value = this.fromHexToRGB(`${this.selectedColor.value}`);
      input.value = `${value?.r},${value?.g},${value?.b}`;
      this.selectColorModel(el);
  }

  fromHexToRGB(hex: string) {
      const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? {
          r: parseInt(result[1], 16),
          g: parseInt(result[2], 16),
          b: parseInt(result[3], 16)
      } : null;
  }

  selectColorModel(el: HTMLElement) {
      const colorModels = el.parentElement;
      const models = colorModels?.querySelectorAll('div');
      models?.forEach(model => {
          model.classList.remove('selected');
      });
      el.classList.add('selected');
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  .palette{
        width: 302px;
        background-color: white;
        margin: 15px;
        border: 1px solid rgba($color: #b3b3b3, $alpha: 0.3);
        box-shadow: 0px 2px 6px rgba($color: #b3b3b3, $alpha: 0.3);
        padding: 15px;
        display: flex;
        flex-flow: column;
        .colors{
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            .color{
                flex: 0 0 35px;
                height: 35px;
                cursor: pointer;
                &:hover{
                    border: 3px solid rgba($color: rgb(18, 18, 18), $alpha: 0.5);
                
                }
                margin: 5px;
            }
        }
        .codes{
            display: flex;
            flex-flow: column;
            .colorModels{
                display: flex;
                font-size: 80%;
                font-weight: bolder;
                color: #a2a2a2;
                div{
                    margin: 10px 2px;
                    cursor: pointer;
                    &.selected{
                        color: #434343;
                    }
                }
            }
            input{
              width: 100%;
                padding: 10px 15px;
                width: 100%;
                font-size: 110%;
                color: #a2a2a2;
            }
        }
    }
}

</style>
